<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789338652246-tb0ntm5qu0ig49oa9supcg5i1040opbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789338652246-tb0ntm5qu0ig49oa9supcg5i1040opbc</string>
	<key>API_KEY</key>
	<string>AIzaSyA2_8JbxFes6rSKBkNcsne9YSPwQ80r4CI</string>
	<key>GCM_SENDER_ID</key>
	<string>789338652246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubricprune.personalmanager</string>
	<key>PROJECT_ID</key>
	<string>personal-manager-86523</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-manager-86523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789338652246:ios:2304af6b6df872c03545f7</string>
	<key>DATABASE_URL</key>
	<string>https://personal-manager-86523.firebaseio.com</string>
</dict>
</plist>